{% extends 'base.html' %} 
{% block content %}
<h1>Customer Record</h1>

<div class="card">
    <h5 class="card-header">{{ customer_record.first_name }}
        {{ customer_record.last_name }}</h5>
    <div class="card-body">
      <h5 class="card-title">Email</h5>
      <p class="card-text">{{ customer_record.email }}</p>
      <h5 class="card-title">Nama</h5>
      <p class="card-text">{{ customer_record.phone }}</p>
      <h5 class="card-title">Address</h5>
      <p class="card-text">{{ customer_record.address }}</p>
      <h5 class="card-title">City</h5>
      <p class="card-text">{{ customer_record.city }}</p>
      <h5 class="card-title">State</h5>
      <p class="card-text">{{ customer_record.state }}</p>
      <h5 class="card-title">Created At</h5>
      <p class="card-text">{{ customer_record.created_at }}</p>
      <h5 class="card-title">Id</h5>
      <p class="card-text">{{ customer_record.id }}</p>

      
    </div>
  </div>
</br>
<a href="{% url 'home'%}" class="btn btn-dark"> Back</a>

<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger"> Delete</a>

<a href="{% url 'update_record' customer_record.id %}" class="btn btn-dark">Update Record</a>

{% endblock %}